body{
    background-color: rgb(13, 17, 23);
    color:  white;
    margin: 0px;
    font-family: "Nunito", sans-serif;
}

header{
    display: flex;
    justify-content: center;
    border: none;
    box-shadow: 0 0 20px 2px black;
    width: 100%;
    height: 12vh;
    background-color: rgb(240, 37, 22);
    font-size: larger;
    position: fixed;
    top: 0;
    left: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.intro-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border:  none;
    height: 550px;
    width: 92%;
    max-width: 1000px;
    margin-top: 130px;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px black;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    position: relative;
}

.description{
    font-size: large;
    line-height: 30px;
    font-weight: bold;
    color: rgb(176, 190, 197);
}

p, h2, .profile{
    text-align: center;
}

.profile, .profile-img{
   
    justify-self: center;
}

.profile-img{
    box-shadow: 0 0 10px 5px black;
    contain: content;
     width: 150px;
    height: 150px;
    border-radius: 70%;
}

.next-button, .start-btn{
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 16px 2px black;
    background-color: rgb(244, 67, 54);
    color: white;
    font-weight: bold;
    font-size: large;
}   

.next-button{
    position: absolute;
    right: 20px;
    width: 100px;
    height: 50px;
}

.next-button:hover, .start-btn:hover{
    background-color: rgb(229, 57, 53);
}

.instruction{
    font-size: x-large;
    color: white;
}

span{
    color: rgb(255, 209, 102);
    display: block;
    font-weight: bold;
    font-size: xx-large;
}

.hype{
    color: rgb(176, 190, 197);
    font-size: x-large;
}

.start-btn-div{
    justify-self: center;
}

.start-btn{
    width: 120px;
    height: 50px;
}

.main-game-page{
    width: 100%;
    height: 100vh;
    background-color: rgb(13, 17, 23);
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-page{
    border-radius: 13px;
    width: 95%;
    height: 88%;
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 1000px;
    max-height: 600px;   
    position: relative; 
}

.argument-div{
    margin-top: 40px;
    color: white;
}

.answer-options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 95%;
    height: 200px;
    justify-self: center;
    margin-top: 100px;
}

.option{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    font-size: 1.3em;
    font-weight: bold;
    color:  rgb(176, 190, 197);
    box-shadow: 0 0 8px 1px black;
    border: none;
    background-color: rgb(13, 17, 23, 0.5);
    font-family: "Nunito", sans-serif;
}

.option:hover{
    background-color: rgb(13, 17, 23, 0.8);
}

.modal-container{
   
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
   
    
}

.modal-content{
    background-color: rgb(13, 17, 23);
    border-radius: 20px;
    box-shadow: 0 0 20px 10px black;
    width: 345px;
    height: 220px;
   
}

.modal-name{
    color: rgb(229, 57, 53);
}

.modal-text {
     color: rgb(255, 209, 102);    
     font-size: large;
}

.modal-text-div{
    padding: 10px;
}

.modal-button-div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.modal-button1, .modal-button2{
    width: 120px;
    height: 50px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 15px;
    border: none;
}

.modal-button1:hover, .modal-button2:hover{
    opacity: 0.7;
}

.modal-button1{
    background-color: rgb(229, 57, 53);
}

.modal-button2{
    background-color: green;
}

.hidden{
    display: none;
}

@media(max-width: 400px){
    .intro-container{
        margin-top: 90px;
    }
    .option{
        font-size: 0.9em;
    }
}